body {
  background-color: #f5f6fa;
  // background-color: $brand-lightgray;
}

.l-container {
  @include container();  
  overflow: auto !important;

  .l-sidebar-container {    
    @include span(5 first);          
    padding: gutter()/2 span(1)/3;
    background-color: $brand-white;
    box-shadow: none !important;
    // background-color: $brand-lightgray;
  }  

  /* Responsive Layout */
    @media (min-width: 768px) {
    .l-sidebar-container {
      position: fixed !important;
      @include span(3 first);      
    }

    .l-outer-main {
      position: static !important;
      @include span(9 last);      
    }    
  }
  @media (min-width: 1440px) {
    .l-sidebar-container {
      position: fixed !important;
      @include span(2 first);      
    }

    .l-outer-main {
      position: static !important;
      @include span(10 last);      
    }        
  }

  .l-center-container {
    @media (min-width: 768px) {
      width: span(7);
      margin: 0 auto;
    }

    @media (min-width: 1440px) {
      width: span(5);
      margin: 0 auto;
    }
  }
  
  .b-main { 
    padding: gutter();
    min-height: calc(100vh - 70px);
  }  

  .b-footer {
    height: 50px;
  }
}