.b-field {
  margin-bottom: 15px;

  &__label {
    display: block;
    margin-bottom: gutter()/2;
  }

  &__error {
    margin-top: gutter()/2;
    color: #ee0202;
    font-size: 0.9em;
  }
}

.o-fieldset__legend {
  font-family: $head-type;
  font-size: 1.1em;
  margin-bottom: gutter()*2;
}

.b-button--brand {
  background-color: $brand-secondary !important;
  color: $brand-white;
}