@import '~susy/sass/susy';
@import '~sanitize.css';

$susy: (
        columns: 12,
        container: 100%,
        gutters: 1/3,
        global-box-sizing: border-box,
);

/* Base Styles */

@import 'base/variables';
@import 'base/type';

/* Layout Styles */

@import 'layout/floats';
@import 'layout/dashboard';
// @import 'layout/header';
@import 'layout/sidebar';
@import 'layout/footer';
@import 'layout/utils';
@import 'layout/page';

/* Modules/Components */

@import 'modules/modal';
@import 'modules/forms';
// @import 'modules/card-list';
@import 'modules/login';
@import 'modules/dashboard';

/* Vendor Styles */

@import 'vendor/rbc';
@import 'vendor/blaze';