$brand-blue: #A7D5F5;
$brand-brown: #4D3420;
$brand-gray: #CACACA;
$brand-secondary: #E09633;
$brand-white: #fff;
$brand-type: #4C4C4C;

$brand-lightgray: #F2F2F2;

$body-type: 'Roboto', sans-serif;
$head-type: 'Open Sans', sans-serif;


